/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  /* padding-top: 3rem;
  padding-bottom: 3rem; */
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;underline-on-hover
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 10;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}  

/*padding-top: 3rem;
padding-bottom: 3rem;
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top:7rem;
  }
}

.social {
  display:flex;
  color: rgb(5, 3, 3);
}

.social2 {
  display:flex;
  color: rgb(5, 3, 3);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.media {
  margin-right: 6px;
  margin-left: 20px;
  color: rgb(255,255,255);
  font-size: 14px;
  border-radius: 50px;  
}

.media-advantages{
  border-style: solid;
}

.header {
  
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  background-color: rgba(0,0,0);
}

.cellno {
  display: flex;
  color: rgb(255,255,255);
  margin-right: 10px;
  margin-left: 20px;
}

.circle-icon {
  background: rgba(46, 43, 43, 0.719);  
  font:bolder;

  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  vertical-align: middle; 
  padding: 5px;
}

.button1{
  background-color: #ffbd1a;
  border-bottom: #ff831d;
  color: black;
  width: 150px;
  height:30px;
  font-size: small;
}

.underline-on-hover:hover {
  
  text-decoration-color:#ff831d;
  display:inline-block;
  border-bottom:3px solid #ff831d;
  border-bottom-style: solid;
}

.portfolio-hover:hover {
  
  font-weight: bold;
  display:inline-block;
  color: #ff831d;
  text-decoration-color:#ff831d;
  
}

h5{
  color: chartreuse;
  text-emphasis:initial !important;
}

.heading1 > h5 {
  color: #000;
  text-align: center;
  padding-bottom: 10px;
}

h5.services {
  color: #000;
  text-align: center;
  padding-top: 30px;
  font-size: medium;
}

.form1{
  color:white !important;
  text-align: center;
  align-items: center;
  font-weight: 900;
  padding-bottom: 20px;
}

h3{
  font-weight: 700; text-align: center; 
}

.h3_span1{  color:black
}

.h3_span1a{  color:rgb(255, 255, 255)
}

.h3_span2{
  color:#8dc63f;
}

.para-one{
  /* margin-top: 10px; */
  margin-bottom: 30px;
  text-align: center;
  color: #887f7f;
}

p.para-two {
  text-align: center;
  font-size: 11px;;
  color:#887f7f;
}

p.para-three {
  text-align:justify;
  font-size:medium;
  color:#0a0606;
}

svg text {
  font-family: FontAwesome;
}

svg {
  width: 200;
  height: 200;
}

div.div-about {
  background-color: #f1f2f2 ;
  padding-bottom: 5px;
}

.icon-services {

  display: inline;
  text-decoration-color: red; 
  color:red;
  align-content: center;
  font-size: 25px;
}

.circle-icon-services {
  background:#ffbd1a;  font:bolder;

  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  vertical-align: middle; 
  padding: 5px;
}

.pics1 {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: -19px;
  background-color: rgba(252, 116, 5, 0.61);
}

.pics3 {
  display:table-cell;
  position: absolute;
  width: 150px;
  align-items: center;
  /* margin-top: -170px; */
  text-align: center;
  display: inline;
  margin-left: 20px;
  margin-right: 10px;
}

.pics {
  margin-top: -31px;
  text-align: center;
  display:block; 
  text-align: center; 
  margin-left: 10px; 
}

.border-services {
  background-color: #f1f2f2;
  height: 190px;
  width: 250px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.readmore_services {

  font-size: 16px;
  color:#8dc63f;
  text-align: center; 
}
.nav-portfolio{
  margin-top: -15px;
}

.nav > li > a {
  color: rgb(255, 255, 255);
}

.table-portfolio-pics{
  align-items: center;
  margin:0 auto; 
  height: 100%;
}

.process {
  margin-bottom: 100px !important;
  padding-bottom: 30px;
}



.pics5 {
  position: absolute;
  margin-top: -14px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.pics10 {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: -16px;
  background-color:#ffbd1a;
}

.pics13 {
  position: absolute;
  width: 150px;
  align-items: center;
  margin-top: 45px;
  text-align: center;
  margin-left: -15px;
  margin-right: 10px; */

}
.circle-icon-process {

  display: flex;
  justify-content: center;
  align-items: center; 
  width: 150px;
  align-items: center;
  margin-top: -100px;
  text-align: center;
  margin-left: -25px;
  font-size: 40px;
  color: green;
}

.web11 {
  text-align: center;
  color: #000;
  font-size: 14px;
}

.web10 {
  font-size: 10px;
  text-align: center;
  color: rgb(133, 132, 132);
}
.circle-process {
  background-color: transparent;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 3px solid gray;
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-top: 30px;
  margin-left: -10px;
  margin-bottom: 20px;
}
.line {
 
  display:flex;
  margin-top: 90px;
  margin-left:-45px;
  margin-right: -2px;
  width: 70px;
  height: 3px;
  background: rgb(133, 132, 132);;
}

.people-col {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
} 

.people{
  background-color: #f1f2f2;
  padding-top: 40px;
  padding-bottom: 20px;
}
.people_user > img {
  width: 60px;
  height: 60px;

}

.people-row {
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.people-icon-aboutus {

  display: flex;
  align-items: center;
   
  font-size: 50px;
  color: rgb(177, 179, 171);
  background-color:#887f7f;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  
    padding:30px ;
    margin-left: 0px;
}

h5.peopleheading {
  text-align:left;
  position: relative;;
  color: #000;
  font-size: 14px;
}

.hline-people {
 
  display:flex;
  /* margin-top: 90px; */
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 1px;
  padding-left: 50px;
  background: rgb(133, 132, 132);
}

.vline-people {
  border-left: 1px solid rgb(133, 132, 132);
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -200px;
  width: 1px;
}

.vline-footer {
  border-left: 1px solid #8dc63f;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:5px;
  width: 5px;
}

.circle2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  font-size: 24px;
  
}

.circle2-a {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin: 1.0rem;
  border: 1.2rem solid orange;
  
  text-align: center;
  border-radius: 8rem;
  box-shadow: 0 0 7px rgb(255, 123, 0);
  border-bottom-color: #fff ;
  border-top-color: #fff;
  border-right-color: white;
  border-left-style: solid;
  color: rgb(255, 123, 0);
  font-weight: bolder;

}

.circle2-b {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin: 1.0rem;
  border: 1.2rem solid orange;
  text-align: center;
  border-radius: 8rem;
  box-shadow: 0 0 7px rgba(173, 20, 20, 0.5);
  border-bottom-color: #fff ;
  border-right-color: #fff;
  border-top-color: rgba(223, 8, 8, 0.911);
  border-left-color: rgba(223, 8, 8, 0.911);
  box-sizing: border-box;
  color:rgba(223, 8, 8, 0.911);
  font-weight: bolder;
  
}

.circle2-c {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin: 1.0rem;
  border: 1.2rem solid orange;
  text-align: center;
  border-radius: 8rem;
  box-shadow: 0 0 7px #78c013;
  border-right-color: #fff ;
  border-top-color: #8dc63f;
  border-bottom-color:#8dc63f;
  border-left-color: #8dc63f;
  box-sizing: border-box;
  font-weight: bolder;
  color:#8dc63f;
}

.circle2-d {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin: 1.0rem;
  border: 1.2rem solid orange;
  text-align: center;
  border-radius: 8rem;
  box-shadow: 0 0 7px rgba(1, 1, 3, 0.801);
  border-top-color: white ;
  border-bottom-color: black;
  border-right-color: black;
  border-left-color: black;
  box-sizing: border-box;
  font-weight: bolder;
  color:#070707;
}

.skills{text-align: center;}

.form {
    
  padding-top: 20px;
  padding-bottom: 20px;
}

.contactus{
  margin-top: 30px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #668e19;
  color:white;
  height: 250px;
  margin-top: -40px;
  padding-bottom: 30px
}
.footer-col{
  color:white !important;
  text-decoration-color: white !important;

}

ul > li > a {
  color: white;
  text-decoration-color: white;
  font-size: smaller;
}

ul > li > div{
  color: white;
  text-decoration-color: white;
  font-size: smaller;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.media-footer {
  margin-right: 4px;
  margin-left: 0px;
  color: #668e19;
  font-size: 10px;
  border-radius: 50px;  
}

.circle-icon-footer {
  background: rgba(46, 43, 43, 0.719);  
  font:bolder;
  border-radius: 50%;
  text-align: center;
  width: 25px;
  height: 25px;
  vertical-align: middle; 
  padding: 5px;

}